$green: #3b8070;
$white: #fff;
$grey: #35495e;
$box-shadow: rgba(0, 0, 0, 0.12);
$box-shadow1: rgba(0, 0, 0, 0.14);
$blue: #4d54e1;
$cream: #ccc;
$black: #000;
$red: #981815;
$light-grey: #f1f3f6;
$grey1: #e6e7ef;
$grey2: #b9bec9;
$black1: #39444f;
$grey3: #e5e6ee;
$grey4: #f1f2f8;
$grey5: #ede3e0;
$grey6: #eae4e4;
$grey7: #b9bcd0;
$google-blue: #4185f5;
$grey8: #bdc7ca;
$chart-green: #7afc99;
